<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinstalk.m4.publicaicore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".service.AICoreService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>