<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kinstalk.her.weather">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity
            android:name=".ui.WeatherActivity"
            android:taskAffinity=".WeatherActivity"
            android:launchMode="singleTask" />

        <service android:name=".ui.service.WeatherService" />


        <receiver
            android:name=".ui.receiver.NewAIWeatherReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai_new" />

                <data
                    android:scheme="kinstalk"
                    android:sspPrefix="//weather" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
